
  
  <div class="container mt-3" style="width: 500px ;" >
  <!-- Pills content -->
  <div class="tab-content">
    <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
      <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <div class="text-center mb-3">
          <p>Sign in with:</p>
          <button type="button" class="btn btn-link btn-floating mx-1">
            <i class="fab fa-facebook-f"></i>
          </button>
  
          <button type="button" class="btn btn-link btn-floating mx-1">
            <i class="fab fa-google"></i>
          </button>
  
          <button type="button" class="btn btn-link btn-floating mx-1">
            <i class="fab fa-twitter"></i>
          </button>
  
          <button type="button" class="btn btn-link btn-floating mx-1">
            <i class="fab fa-github"></i>
          </button>
        </div>
  
        <p class="text-center">or:</p>
  
        <!-- Email input -->
        <div class="form-outline mb-4">
          <label class="form-label" for="userName">Username</label>
          <input type="text" id="userName" class="form-control" formControlName="userName"
          [ngClass]="{ 'is-invalid' : userForm.get('userName')?.errors?.['required'] && userForm.get('userName')?.touched }"/>
          <div class="invalid-feedback">Please fill out this field.</div>          
        </div>
  
        <!-- Password input -->
        <div class="form-outline mb-4">
          <label class="form-label" for="password">Password</label>
          <input type="password" id="password" class="form-control" formControlName="password"
          [ngClass]="{ 'is-invalid' : userForm.get('password')?.errors?.['required'] && userForm.get('password')?.touched }"/>
          <div class="invalid-feedback">Please fill out this field.</div>             
        </div>
  
        <!-- Submit button -->
        <button type="submit" [disabled]="userForm.invalid" class="btn btn-primary btn-block mb-4">Sign in</button>    
      </form>
    </div>
  </div>
</div>